*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: rgb(34, 33, 33);
    color: aliceblue;
}

.title {
    padding: 10px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(34, 33, 33);
    font-size: medium;
}

.btn-download{
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-size: medium;
    color: aliceblue;
}

.btn:hover{
    background-color: rgb(61, 60, 60);
    border-radius: 5px;
}

.img-meme{
    width: 500px;
    height: 500px;
    background-color: rgb(34, 33, 33);
    display: flex;
    align-items: center;
    background-size: 500px 500px;
}


.canva-editor{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: aliceblue;
}

.canva-container {
    display: flex;
    flex-grow: 1;
}

.editor-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(61, 60, 60);
}


.light-theme .header-container {
    background-color: aliceblue;
    color: black;
}

.light-theme .canva-container .canva-editor{
    background-color: aliceblue;
    color: rgb(41, 41, 41);
}

.light-theme .editor-container {
    background-color: aliceblue;
}

.light-theme .btn{
    background-color: aliceblue;
    color: black;
}

.aside-filter{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 15px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(34, 33, 33);
    color: aliceblue;
}

.display-none {
    display: none;
}

.sub-titles{
  padding: 10px 0 10px 0;
}

@media (max-width: 900px){

   .header-container{
    width: 100%;
    position: relative;
   } 
    .aside-filter{
    position: relative;
    width: 100%;
  }

  .img-meme{
    position: relative;
  }
  
}
